[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
test-coverage = "pytest --cov-report html --cov=./cloud_storage_utility"
format = "black ./cloud_storage_utility ./scripts ./tests"
import-sort = "isort ./cloud_storage_utility ./scripts ./tests"
lint = "flake8 ./cloud_storage_utility ./scripts ./tests"
build = "python3 setup.py sdist bdist_wheel"
documentation = "pdoc -o docs -d google ./cloud_storage_utility"

[packages]
click = "*"
setuptools = "*"
setuptools-scm = "*"
wheel = "*"
twine = "*"
python-dotenv = "*"
ibm-cos-sdk = "*"
adal = "*"
azure-mgmt-datalake-analytics = "*"
azure-storage-file-datalake = "*"
azure-datalake-store = "*"
azure-identity = "*"
tqdm = "*"
colorama = "*"
pdoc = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pytest-asyncio = "*"
mypy = "*"
pdoc = "*"
tox = "*"
tox-pipenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
